
.body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: black;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  height:120px;
  background-color: black;
}


.footerContainer {
  position:relative;
  width:100%;
  height:100px;
}

.gitimg {
  height: 50px;
  botton:0
}

.pull-right {
  float: right;
  margin-left: 10px;
}

.img_slides {
    width: 100px;
    height: 100px;
}

.img_slides_small {
    width: 50px;
    height: 50px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}

.univerimg {
  position:fixed;
  bottom:10px;
  right: 50px;
  height: 80px;

}

.swaggerlogo {
  position:fixed;
  bottom:10px;
  left: 50px;
  height: 50px;
}

.pull-left-img {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.mynav {
        top: 0;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1030;
        height:50px;
        color:#aaa;
        background-color:black;
        text-align: center;
      }
